
body {
   background-color: white;
}
.showall {
   position: relative;
   top: 5px;
   right: 20px;
 border: none;
 outline: none;
   float: right;
}
.box1 {
   margin-top: 40px;
   margin-bottom: 30px;
   border: ;
   background-color: lightskyblue;
   border-radius: 10px;
     font-size: larger;
}
.box3 {
   border:;
   margin-top: 50px;
   font-size: x-small;
}
h1 {
   position: relative;
   left: 80px;
}
